main .dashboard-cards {
    position: relative;
    max-width: 100%;
    margin: 0 5%;
    margin-top: 10px;
}

main .dashboard-cards > div:not(.modal) {
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    position: absolute;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
}

main .dashboard-cards .ss-placeholder-child {
    background: transparent !important;
    border: 1px dashed rgba(0,0,0,0.2) !important;
}

main .dashboard-cards .square {
    height: 230px;
    width: 230px;
}

main .dashboard-cards .rectangle {
    height: 230px;
    width: 480px;
}

main .dashboard-cards .rectangleTall {
    height: 480px;
    width: 230px;
}

main .dashboard-cards .squareBig {
    height: 480px;
    width: 480px;
}

main .dashboard-cards .footer {
    height: 15%; 
    border-top: 1px solid #eee;
}

main .dashboard-cards .body {
    height:85%;
}

main .dashboard-cards .rectangleTall .body,
main .dashboard-cards .squareBig .body {
    height: 93% !important;
}

main .dashboard-cards .footer .footer-text {
    color: #999;
    border-left: 1px solid #eee;
    position: relative;
    padding: 10px;
    height: 100%;
    width: 10px;
}

main .dashboard-cards .footer .footer-text {
    border-left: 0;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: 'Open Sans';
    padding-top: 5px;
    padding-left: 15px;
    margin-top: 3px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 10px;
    width: 57%;
    max-width: 57%;
    float: left;
}

main .dashboard-cards .footer .fa {
    color: #999;
    border-left: 1px solid #eee;
    position: relative;
    float: right;
}

main .dashboard-cards .footer #card-settings-button {
    position: relative;
    top: 10px;
    right: 8px;
}
   
main .dashboard-cards .footer #card-resize-button {
    position: relative;
    top: 10px;
    right: 20px;
}

main .shader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;
    opacity: 0;
    z-index: -10;
}

main .shader.visible {
    transition: .3s;
    opacity: 100;
    z-index: 5;
}

main .settings-sidebar {
    position: absolute;
    width: 300px;
    height: 100%;
    right: 0px;
    top: 0px;
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    transition: .3s;
    z-index: -10;
    opacity: 0;
}

main .settings-sidebar.visible {
    transition: .3s;
    opacity: 100 !important;
    z-index: 10;
}

main .settings-sidebar h2 {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

main .settings-sidebar form {
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

main .settings-sidebar form div {
    margin: 0 auto;
    max-width: 215px;
}

main .settings-sidebar form label {
    font-size: 12px;
}

main .settings-sidebar form input {
    margin: 0;
    width: 100%;
}

main .settings-sidebar a#submit-card-button {
    margin-top: 15px;
    display: block !important;
    margin: 0 auto;
    text-align: center;
    width: 195px;
}

main .settings-sidebar a#card-uninstall-button,
main .settings-sidebar a#card-upgrade-button {
    display: block !important;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    color: #2d2d2d;
}

main .card-list,
main .theme-list {
    position: absolute;
    margin: 0 auto;
    top: 5%;
    height: 90%;
    width: 900px;
    z-index: -5;
    opacity: 0;
    max-width: 900px;
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    transition: .3s;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

main .card-list.visible,
main .theme-list.visible {
    z-index: 10;
    opacity: 100;
    transition: .3s;
}

main .card-list .card-details,
main .theme-list .theme-details {
    width: 600px;
    margin-left: 300px;
    height: 100%;
}

main .card-list .card-details header,
main .theme-list .theme-details header {
    border-bottom: 1px solid #eee;
    min-height: 32px;
    padding: 7px;
}

main .card-list .card-details header span,
main .theme-list .theme-details header span {
    margin-left: 5px;
    position: relative;
    top: 4px;
    font-weight: bold;
}

main .card-list .card-details .nano,
main .theme-list .theme-details .nano {
   height: 87% !important;
}

main .card-list .card-details img,
main .theme-list .theme-details img {
   margin: 15px 25px;
}

main .card-list .card-details div.divider,
main .theme-list .theme-details div.divider {
    border-bottom: 1px solid #eee;
}

main .card-list .card-details p,
main .theme-list .theme-details p {
   margin: 15px 25px;
   font-size: 14px;
}

@-webkit-keyframes pulse 
{       
    0% {}
    50% {color: #f67d42;}
    100% {}
}

@-moz-keyframes pulse 
{       
    0% {}
    50% {color: #f67d42;}
    100% {}
}