main .dashboard-cards {
    position: relative;
    max-width: 100%;
    height: 100% !important;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
}

main .dashboard-cards > div:not(.modal) {
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    position: absolute;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
}

main .dashboard-cards .ss-placeholder-child {
    background: transparent !important;
    border: 1px dashed rgba(0,0,0,0.2) !important;
}

main .dashboard-cards .square {
    height: 230px;
    width: 230px;
}

main .dashboard-cards .rectangle {
    height: 230px;
    width: 480px;
}

main .dashboard-cards .rectangleTall {
    height: 480px;
    width: 230px;
}

main .dashboard-cards .squareBig {
    height: 480px;
    width: 480px;
}

main .dashboard-cards .footer {
    height: 15%; 
    border-top: 1px solid #eee;
}

main .dashboard-cards .body {
    height:85%;
}

main .dashboard-cards .rectangleTall .body,
main .dashboard-cards .squareBig .body {
    height: 93% !important;
}

main .dashboard-cards .footer .footer-text {
    color: #999;
    border-left: 1px solid #eee;
    position: relative;
    padding: 10px;
    height: 100%;
    width: 10px;
}

main .dashboard-cards .footer .footer-text {
    border-left: 0;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: 'Open Sans';
    padding-top: 5px;
    padding-left: 15px;
    margin-top: 3px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 10px;
    width: 57%;
    max-width: 57%;
    float: left;
}

main .dashboard-cards .footer .fa {
    color: #999;
    border-left: 1px solid #eee;
    position: relative;
    padding: 10px;
    height: 100%;
    width: 10px;
    float: right;
    margin-right: 5px;
}
   
main .shader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    display:none;
}

main .settings-sidebar {
    width: 300px;
    height: 100%;
    right: -300px;
    top: 0px;
    overflow-y: hidden;
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    position: absolute;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    transition: .3s;
    z-index: -10;
}

main .settings-sidebar.visible {
    transition: .3s;
    right: 0px;
    z-index: 10;
}

main .settings-sidebar h2 {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

main .settings-sidebar form {
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

main .settings-sidebar form div {
    margin: 0 auto;
    max-width: 215px;
}

main .settings-sidebar form label {
    font-size: 12px;
}

main .settings-sidebar form input {
    margin: 0;
    width: 100%;
}

main .settings-sidebar a#submit-card-button {
    margin-top: 15px;
    display: block !important;
    margin: 0 auto;
    text-align: center;
    width: 195px;
}