main .dashboard-cards {
    position: relative;
    max-width: 100%;
    margin: 0 5%;
    margin-top: 10px;
}

main .dashboard-cards > div:not(.modal) {
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    position: absolute;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    height: 230px;
    width: 230px;
}

main .dashboard-cards .ss-placeholder-child {
    background: transparent !important;
    border: 1px dashed rgba(0,0,0,0.2) !important;
}

main .shader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    display:none;
}