#content_form {
	height: 100%;
	min-height: 100%;
}

section.settings_container_inner {
	display: inline-block;
	min-height: 100%;
	height: 100%;
	width: calc(100% - 300px);
}

section.editor,
section.preview,
section.excerpt {
	float: left;
	display: inline-block;
	margin-left: 10px;
	width: 46%;
	height: 92%;
	min-height: 92%;
	max-height: 92% !important;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	padding: 10px;
}

section.excerpt,
section.excerpt .upload-element {
	display: none;
}

section.excerpt .upload-element {
	border-bottom: 1px solid #eee;
}

section.excerpt .upload-element h3 {
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
}

section.excerpt .video-upload input {
	float:left;
	width: 75%;
	position: relative;
	top: 5px;
	box-shadow: none;
}

section.excerpt .video-upload a {
	float:right;
	position: relative;
	top: 8px;
}

section.excerpt span.excerpt-text {
	display: none;
}

section.preview div#content_preview {
	padding: 15px;
	padding-top: 0px;
} 

section.preview div#content_preview img {
	width: 100%;
}

section.editor .editor-toolbar,
section.excerpt .editor-toolbar {
	font-size: 12px;
}

section.editor .editor-toolbar .markdown-mark:before,
section.excerpt .editor-toolbar .markdown-mark:before {
	position: relative;
	top: 1px;
}

section.editor .editor-toolbar:before,
section.excerpt .editor-toolbar:before {
	margin: 0px;
	height: 0px;
	background: none;
}

section.editor .editor-toolbar:after,
section.excerpt .editor-toolbar:after {
	margin: 1px;
	clear: both;
}

section.editor .CodeMirror-scroll,
section.excerpt .CodeMirror-scroll,
section.preview div#content_preview {
	font-size: 12px;
	overflow-x: hidden;
}

section.editor .CodeMirror-hscrollbar,
section.editor .CodeMirror-vscrollbar,
section.excerpt .CodeMirror-hscrollbar,
section.excerpt .CodeMirror-vscrollbar {
	display: none !important;
}

section.editor .CodeMirror-scroll,
section.excerpt .CodeMirror-scroll {
	margin-right: -15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

section.editor .CodeMirror.cm-s-paper,
section.excerpt .CodeMirror.cm-s-paper {
	height: 93% !important;
	max-height: 93% !important;
}

section.content_inner_container #title-container {
	display: inline-block;
	margin-left: 10px;
	width: calc(92% + 30px);
	height: 22px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	padding: 10px;
	margin-bottom: 10px;
}

section.content_inner_container #title-container #Content_title {
	margin: 0 !important;
	padding-left: 10px !important;
	font-size: 20px !important;
	height: 42px;
	position: relative;
	top: -10px;
	left: -10px;
	width: 80%;
	border: none;
	box-shadow: none;
}