html, body {
	height: 100%;
	min-height: 100%;
	background-color: #fbfbfb;
	width:100%;
	font-family: 'Open Sans', sans-serif;
	overflow-y: hidden;
}

section#body {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	height: 100%;
	min-height: 100%;
	width:100%;
}

div.tc-main {
	display:table-cell;
	width: 100%;
}

main {
	max-height: 92%;
	height: 92%;
}

main div#main {
	background: #fff;
	border: 1px solid #ebeff6;
	box-shadow: rgba(0,0,0,.1) 0 0 5px;
	margin: 20px;
	margin-top: 7px;
	width: 97%;
	overflow: hidden;
}

main div#main .nano-content fieldset {
	margin: 10px 20px;
}

main .pure-form div#main label {
	font-size: 14px;
	color: #999;
	font-weight: bold;
	margin-bottom: 10px;
}

.clearfix {
	clear:both;
}

main .error-module {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
	margin-top: 10%;
	min-height: 100px;
	background: #fff;
	border: 1px solid #ebeff6;
	box-shadow: rgba(0,0,0,.1) 0 0 5px;
	-moz-box-shadow: rgba(0,0,0,.1) 0 0 5px;
	-webkit-box-shadow: rgba(0,0,0,.1) 0 0 5px;
	vertical-align: middle;
	padding: 5%;
}

main .error-module h1 {
	margin: 0px;
}