.pure-form input,
.pure-form select,
.pure-form textarea {
    padding: 8px !important;
    margin-bottom: 10px !important;
    font-size: 12px !important;
}

.pure-form input.success {
    border-color: #3c763d !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.pure-form input.warning {
    border-color: #66512c !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;
}

.pure-form input.error,
.pure-form select.error {
    border-color: #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.pure-form button {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans !important;
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

.pure-button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
    color:#fff;
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
    color:#fff;
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
    color:#fff;
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
    color:#fff;
}

/** http://zurb.com/playground/radioactive-buttons MIT License **/
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes bluePulse {
  from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
  to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes redPulse {
  from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
  to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes magentaPulse {
  from { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #a9014b; -webkit-box-shadow: 0 0 18px #a9014b; }
  to { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangePulse {
  from { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangellowPulse {
  from { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ffb515; -webkit-box-shadow: 0 0 18px #ffb515; }
  to { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
}

.pure-button-warning-pulse {
  -webkit-animation-name: orangellowPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.pure-button-warning2-pulse {
  -webkit-animation-name: orangePulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.pure-button-success-pulse {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.pure-button-error-pulse {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.pure-button-primary-pulse {
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.pure-button-puurple-pulse {
  -webkit-animation-name: magentaPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

/** Webkit Specific hacks for the preview */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {  
      -webkit-appearance: none;  
      background-color: #999;  
      height: 4px;
      padding: 0px;
      margin: 0px;
  }  
    
  input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;
      background-color: #333;  
      width: 10px;  
      height: 7px; 
  }
}

input[type="range"]::-ms-fill-lower {
  background-color: #0078e7;
}