section.paginated_results {
	background-color: #fff;
	width: 300px;
	max-width: 300px;
	height: 104%;
	overflow: hidden;
	position: relative;
	top: -15px;
	display: inline-block;
	float: left;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

section.paginated_results ul {
	list-style: none;
	padding: 0;
	margin-top: 0px;
}

section.paginated_results ul:first-child {
	border-top: 1px solid #eee;
}

section.paginated_results ul li {
	border-bottom: 1px solid #eee;
	min-height: 75px;
	max-height: 75px;
	padding: 5px 15px;
	color: #2D2D29;
	cursor: default;
	clear:both;
}

section.paginated_results ul li.active {
	border-left: 3px solid #999;
	background: #F5F5F5;
}

section.paginated_results ul li div.user-info span.draft {
	color: #e84d08;
}

section.paginated_results ul li div.user-info span.scheduled {
	color: #e6a550;
}

section.paginated_results ul li.Administrator,
section.paginated_results ul li.draft {
	border-right: 3px solid #e84d08;
}

section.paginated_results ul li.scheduled {
	border-right: 3px solid #e6a550;
}

section.paginated_results ul li.Author {
	border-right: 3px solid rgb(28, 184, 65);
}

section.paginated_results ul li.Publisher {
	border-right: 3px solid rgb(202, 60, 60);
}

section.paginated_results ul li.Collaborator {
	border-right: 3px solid rgb(66, 184, 221);
}

section.paginated_results ul li img.user-image {
	width: 45px;
	height: 45px;
	border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin-top: 15px;
	float: left;
}

section.paginated_results ul li div.user-info {
	float:left;
	max-width: 200px;
	margin-left: 15px;
	overflow-x: hidden;
	text-overflow:ellipsis;
	margin-top: 14px;
	white-space:nowrap; 
}

section.paginated_results ul li div.user-info h6 {
	margin: 0;
	padding: 0;
	white-space:nowrap; 
	overflow-x: hidden;
	text-overflow:ellipsis;
}

section.paginated_results ul li div.user-info span {
	color: #999;

	text-transform: uppercase;
	font-size: 10px;
	width: 100%;
	white-space:nowrap; 
	overflow-x: hidden;
	text-overflow:ellipsis;
	float:left;
}

section.paginated_results div.paginated_search form input {
	width: 250px;
	margin-top: 11px;
	margin-left: 5px;
	padding: 5px !important;
}

/*************************************/

section.paginated_results ul li div.icons {
	font-size: 12px;
	float: right;
	width: 30px;
	position: relative;
	top: 5px;
	margin-top: 7px;
}

section.paginated_results ul li div.icons .likes-container,
section.paginated_results ul li div.icons .comment-container {
	display: block;
	font-size: 12px;
}

section.paginated_results ul li div.icons .comment-container a {
	text-decoration: none;
	color: #A7CE44;
}

section.paginated_results ul li div.icons .likes-container {
	color: #CE4444;
}

section.paginated_results ul li div.icons .likes-container:after {
	font-family: FontAwesome;
	content: "\f004";
	padding: 0 10px;
	padding-right: 5px;
	color: #CE4444;
}

section.paginated_results ul li div.icons .comment-container:after {
	font-family: FontAwesome;
	content: "\f086";
	padding: 0 10px;
	padding-right: 5px;
	color: #A7CE44;
}