section.settings_container {
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 10px;
	margin-top: 0px;
	margin-left: 310px;
	padding: 10px;
}

section.settings_container legend,
section.settings_container_u legend {
	display: block;
	width: 100%;
	padding: 0.3em 0;
	margin-bottom: 0.3em;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

section.settings_container legend h5 {
	margin: 0px auto;
}

section.settings_container form label {
	font-size: 14px;
	color: #999;
	font-weight: bold;
	margin-bottom: 10px;
	position: relative;
	top: -5px;
	margin-right: 10px;
}

section.settings_container hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
}

section.settings_container_u fieldset {
	padding: 0.35em 0 0.75em;
	border: 0;
	margin: 10px 20px;
}

section.settings_container_u legend {
	white-space: normal;
}

section.settings_container fieldset,
section.settings_container_u fieldset {
	border: none;
}

#testEmailSettings, #flush_cache {
	display: block;
	position: absolute;
	top: 68px;
	right: 3%;
}

/**********************************/

section.settings_container#filter_container {
	padding-top: 0px;
	max-height: 25px;
	color: #999;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
}

section.settings_container#filter_container .filter-container {
	float:left;
}

section.settings_container#filter_container .order-container {
	float: right;
}

section.settings_container#filter_container ul {
	display: inline-block;
	list-style: none;
	padding-left: 5px;
	margin-left: 3px;
}

section.settings_container#filter_container ul li {
	margin: 0 3px;
	list-style: none;
	display: inline-block;
	transition: all .5s ease-in-out;
	cursor: pointer;
}

section.settings_container#filter_container ul li:hover,
section.settings_container#filter_container ul li.active {
	color: #2d2d2d;
	transition: all .5s ease-in-out;
}

section.settings_container#filter_container ul li.asc:after {
	font-family: FontAwesome;
	content: "\f0de";
	margin-left: 5px;
}

section.settings_container#filter_container ul li.dsc:after {
	font-family: FontAwesome;
	content: "\f0dd";
	margin-left: 5px;
}


section.settings_container#content_container,
section.settings_container#comment_container {
	padding: 0px;
	max-height: 93%;
	overflow: hidden;
}

section.settings_container#content_container header,
section.settings_container#comment_container header  {
	color: #999;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px;
	border-bottom: 1px solid #eee;
	min-height: 27px;
}

section.settings_container#content_container header h1,
section.settings_container#comment_container header h1 {
	float: left;
	margin: 0;
	padding: 10px;
	padding-top:5px;
	font-size: 11px;
}

section.settings_container#content_container header div,
section.settings_container#comment_container header div {
	float:right;
	min-height: 45px;
	padding-top: 3px;
}

section.settings_container#content_container header div a,
section.settings_container#comment_container header div a,
section.settings_container#comment_container a {
	text-decoration: none;
	color: #999;
	padding: 5px 7px;
	font-size: 13px;
	transition: all .5s ease-in-out;
	cursor: pointer;
}

section.settings_container#content_container header div a:hover,
section.settings_container#comment_container header div a:hover,
section.settings_container#comment_container a:hover {
	color: #2d2d2d;
	transition: all .5s ease-in-out;
}

section.settings_container#content_container header div a:first-of-type,
section.settings_container#comment_container header div a:first-of-type {
	border-left: 1px solid #eee;
}

section.settings_container#content_container header div span.label,
section.settings_container#comment_container header div span.label {
	padding-right: 7px;
}

section.settings_container#content_container .main-preview {
	padding: 0px 15px;
	padding-bottom: 15px;
	font-size: 14px;
}

section.settings_container#content_container .main-preview img {
	width: 100%;
}

section.settings_container#content_container .nano {
	height: 88% !important;
	top: -13px;
}

section.settings_container#comment_container {
	display: none;
}

section.settings_container#comment_container .nano-content {
	padding: 10px;
	padding-top: 0px;
}